// Variables

$rh-blue: #302828;


body {
	height: 100vh;
	width: 100vw;
	background-color: $rh-blue;
}

.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;

	.content {
		align-self: center;
		height: 60%;
		width: 60%;

	}

	.svg {
		height: 100%;
		width: 100%;
	}
}